body{
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 
 .container{
    background-image: linear-gradient(180deg, #1F0C22, #631E6F);
    margin: auto;
    margin-top: 0.313rem;
    width: 1000px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
}

.header{
    padding: 0.9rem;
}

.header-title{
    color: #FECB23;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px; 
}

.header-subtitle{
    color: white;
    font-size: 1rem;
    margin-bottom: 15px; 
    font-weight: 600;      
}

.form-choices{
    background-image: linear-gradient(180deg, #631E6F, #1F0C22);            
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    width: 90%;
    margin: 10px 50px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
 }

.form-txt{
    color: white;
    font-size: 2.1rem;
    font-weight: 400;
    margin: 10px 0 10px 0;
 }

 .box{
    display: flex;
 }

 .col-1{
    background-image: linear-gradient(180deg, #3D5EEF, #72CDFF);          
    color: #E9E9E9;
    width: 12.5rem;
    margin: 2.5rem;
    border-width: 0.625rem;
    border-style: solid;
    border-color: #2738DB;
    border-radius: 0.5rem;
}

.col-2{
    background-image: linear-gradient(180deg, #3D5EEF, #72CDFF);
    color: #E9E9E9;
    width: 12.5rem;
    margin: 2.5rem;
    border-width: 0.625rem;
    border-style: solid;
    border-color: #2738DB;
    border-radius: 0.5rem;
}

.col-3{
    background-image: linear-gradient(180deg, #3D5EEF, #72CDFF);
    color: #E9E9E9;
    width: 12.5rem;
    margin: 2.5rem;
    border-width: 0.625rem;
    border-style: solid;
    border-color: #2738DB;
    border-radius: 0.5rem;
}

.marca{
    color: white;
    margin: 5px;
    font-size: 0.7rem;
 }

 @media screen and (max-width: 999px){
    html{
        font-size: 1rem;
    }

    .form-choices{
        width: 100%;
        margin: auto;
    }

    .box{
       flex-direction: column;
       align-items: center;
   }
    
    .col-1, .col-2, .col-3{
        width: 57%;
    }

    .container{
        width: 95%;
    }

    .header{
       padding: 0.9rem;
    }
}